<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= newsfeed_index_path %>>Good <%=(03..15).include?(Time.now.hour) ? 'Morning' : 'Afternoon'%>, <%= current_user.name %></a>
      
      <%= link_to edit_user_registration_path(current_user) do %>
        <img class="settings-logo" src="/assets/settings.png">
      <% end %>
     
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'NewsFeed', newsfeed_index_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
      </ul>
       
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inbox", conversations_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<h1>Newsfeed</h1>

<div class="containerNewButton">
  
  <ul class="nav nav-tabs">
    
    <li class="active"><a data-toggle="tab" href="#all">All</a></li>
    <li><a data-toggle="tab" href="#jobs">Jobs</a></li>
    <li><a data-toggle="tab" href="#misc">Misc</a></li>
    <li><a data-toggle="tab" href="#lostnfound">Lost-n-Found</a></li>
    <button class="button" style="float: right"><%= link_to 'New Post', new_post_url, {:style=>'color:#ffffff;'} %></button>
  </ul>

</div>

<div class="container1">
  <div class="tab-content">
    
    <div id="all" class="tab-pane fade in active">
      <table id="newsfeed", class="table table-hover">
        <thead>
          <% @posts.each do |p| %>
            <% if User.find(p.user_id).zipcode.eql?current_user.zipcode %>
              <tr>
                <th style="width: 33%;">User: <%= User.find(p.user_id).name %></th>
                <th>Title: <%= p.title %></th>
              </tr>
        </thead>
        <tbody> 
          <tr>
            <td>
              Category: <%= p.category %>
              </br></br>
              <button heref="#" class="button">Like</button>  Likes: <%= p.likes %> <%= link_to "Comments", post_comments_path(p) %>
            </td>
            <td>
              <%= p.content %>
            </td>
          </tr>
         
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    
    
    <div id="jobs" class="tab-pane fade">
      <table id="Newsfeed", class="table table-hover">
        <thead>
          <% @posts.each do |p| %>
            <% if User.find(p.user_id).zipcode.eql?current_user.zipcode %>
              <% if p.category.eql? 'Jobs' %>
                <tr>
                  <th style="width: 33%;">User: <%= User.find(p.user_id).name %></th>
                  <th>Title: <%= p.title %></th>
                </tr>
        </thead>
        <tbody> 
          <tr>
            <td>
              Category: <%= p.category %>
              </br></br>
              <button heref="#" class="button">Like</button>  Likes: <%= p.likes %> <%= link_to "Comments", post_comments_path(p) %>
            </td>
            <td>
              <%= p.content %>
            </td>
          </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    
    
    <div id="misc" class="tab-pane fade">
      <table id="Newsfeed", class="table table-hover">
        <thead>
          <% @posts.each do |p| %>
            <% if User.find(p.user_id).zipcode.eql?current_user.zipcode %>
              <% if p.category.eql? 'Misc' %>
                <tr>
                  <th style="width: 33%;">User: <%= User.find(p.user_id).name %></th>
                  <th>Title: <%= p.title %></th>
                </tr>
        </thead>
        <tbody> 
          <tr>
            <td>
              Category: <%= p.category %>
              </br></br>
              <button heref="#" class="button">Like</button>  Likes: <%= p.likes %> <%= link_to "Comments", post_comments_path(p) %>
            </td>
            <td>
              <%= p.content %>
            </td>
          </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div id="lostnfound" class="tab-pane fade">
      <table id="Newsfeed", class="table table-hover">
        <thead>
          <% @posts.each do |p| %>
            <% if User.find(p.user_id).zipcode.eql?current_user.zipcode %>
              <% if p.category.eql? 'Lost & Found' %>
                <tr>
                  <th style="width: 33%;">User: <%= User.find(p.user_id).name %></th>
                  <th>Title: <%= p.title %></th>
                </tr>
        </thead>
        <tbody> 
          <tr>
            <td>
              Category: <%= p.category %>
              </br></br>
              <button heref="#" class="button">Like</button>  Likes: <%= p.likes %> <%= link_to "Comments", post_comments_path(p) %>
            </td>
            <td>
              <%= p.content %>
            </td>
          </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
