<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Big Brother</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'NewsFeed', newsfeed_path %></li>
        <li><%= link_to 'New Post', new_post_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
      </ul>
       
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<h1>Newsfeed page</h1>
<div class="container1">
<table id="Newsfeed", class="table table-hover">
    <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Content</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody> 
    <% @posts.each do |p| %>
    <tr>
        <td><%= p.category %></td>
        <td><%= p.title %></td>
        <td><%= p.content %></td>
        <td><%= p.likes %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
