<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= newsfeed_index_path %>>Good <%=(03..15).include?(Time.now.hour) ? 'Morning' : 'Afternoon'%>, <%= current_user.name %></a>
      
      <%= link_to edit_user_registration_path(current_user) do %>
        <img class="settings-logo" src="/assets/settings.png">
      <% end %>
     
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'NewsFeed', newsfeed_index_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
      </ul>
       
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inbox", conversations_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<h1>Newsfeed</h1>

<div class="containerNewButton">
  
  <ul class="nav nav-tabs">
    
    <li class="active"><a data-toggle="tab" href="#all" style="color:white; background-color:rgba(0,0,0,0.7);">All</a></li>
    <li ><a data-toggle="tab" href="#jobs" style="color:white; background-color:rgba(0,0,0,0.7);">Jobs</a></li>
    <li ><a data-toggle="tab" href="#misc" style="color:white; background-color:rgba(0,0,0,0.7);">Misc</a></li>
    <li ><a data-toggle="tab" href="#lostnfound" style="color:white; background-color:rgba(0,0,0,0.7);">Lost-n-Found</a></li>
    <button class="button" style="float: right"><%= link_to 'New Post', new_post_url, {:style=>'color:#ffffff;'} %></button>
  </ul>

</div>
<table style="width: 100%">
  <tr>
    <td style="width: 30%; border: none;">
     <div class=".containerNewButton" style="text-align: center">
     <button class="button"><%= link_to("New Event", new_event_path, data: { no_turbolink: true} , :style=>'color:#ffffff;') %></button>
         </br></br>
      </div>
      
      <div id="events">
        <%= calendar do |date| %>
          <%= date.day %>
          <ul>
            <% @events.each do |event| %>
            <% if (event.day_of == date) %>
              <li>
                <%= link_to event.name, event %>
              </li>
            <% end %>
          </ul>
            <% end %>
        <% end %>
      </div>
      </br>
    </td>
  
  <td rowspan="2" style="width: 40%; border: none;">
    <div class="newsfeed-container">
      <div class="tab-content">
        
        <div id="all" class="tab-pane fade in active">
          <table id="newsfeed", class="table table-hover">
            <thead>
              <% @posts.each do |p| %>
                <% if User.find(p.user_id).zipcode.eql?current_user.zipcode %>
                  <tr>
                    <th>Title: <%= p.title %>
                    </br>
                    <%if User.find(p.user_id).name.eql?current_user.name %>
                      <%= link_to "edit", edit_post_path(p) %>
                      <%= link_to 'delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %></th>
                  </tr>
            </thead>
            <tbody> 
              <tr>
                <td>
                  User: <%= User.find(p.user_id).name %>
                  </br>
                  Category: <%= p.category %>
                  </br></br>
                  <p><%= p.content %></p>
                  </br></br>
                  <button heref="#" class="button">Like</button>  Likes: <%= p.likes %> 
                  </br>
                  <a style="color:black;"><%= link_to "Comments", post_comments_path(p) %> </p>
                </td>
              </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        
        
        <div id="jobs" class="tab-pane fade">
          <table id="Newsfeed", class="table table-hover">
            <thead>
              <% @posts.each do |p| %>
                <% if User.find(p.user_id).zipcode.eql?current_user.zipcode %>
                  <% if p.category.eql? 'Jobs' %>
                    <tr>
                    <th>Title: <%= p.title %>
                      </br>
                      <%if User.find(p.user_id).name.eql?current_user.name %>
                        <%= link_to "edit", edit_post_path(p) %>
                        <%= link_to 'delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </th>
                  </tr>
            </thead>
            <tbody> 
              <tr>
                <td>
                  User: <%= User.find(p.user_id).name %>
                  </br>
                  Category: <%= p.category %>
                  </br></br>
                  <p><%= p.content %></p>
                  </br></br>
                  <button heref="#" class="button">Like</button>  Likes: <%= p.likes %> <a style="color:black"><%= link_to "Comments", post_comments_path(p) %> </a>
                </td>
              </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        
        
        <div id="misc" class="tab-pane fade">
          <table id="Newsfeed", class="table table-hover">
            <thead>
              <% @posts.each do |p| %>
                <% if User.find(p.user_id).zipcode.eql?current_user.zipcode %>
                  <% if p.category.eql? 'Misc' %>
                    <tr>
                    <th>Title: <%= p.title %>
                    </br>
                    <%if User.find(p.user_id).name.eql?current_user.name %>
                      <%= link_to "edit", edit_post_path(p) %>
                      <%= link_to 'delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    </th>
                  </tr>
            </thead>
            <tbody> 
              <tr>
                <td>
                  User: <%= User.find(p.user_id).name %>
                  </br>
                  Category: <%= p.category %>
                  </br></br>
                  <p><%= p.content %></p>
                  </br></br>
                  <button heref="#" class="button">Like</button>  Likes: <%= p.likes %> <a style="color:black"><%= link_to "Comments", post_comments_path(p) %> </a>
                </td>
              </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        
        <div id="lostnfound" class="tab-pane fade">
          <table id="Newsfeed", class="table table-hover">
            <thead>
              <% @posts.each do |p| %>
                <% if User.find(p.user_id).zipcode.eql?current_user.zipcode %>
                  <% if p.category.eql? 'Lost & Found' %>
                    <tr>
                    <th>Title: <%= p.title %>
                    </br>
                    <%if User.find(p.user_id).name.eql?current_user.name %>
                      <%= link_to "edit", edit_post_path(p) %>
                      <%= link_to 'delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    </th>
                  </tr>
            </thead>
            <tbody> 
              <tr>
                <td>
                  User: <%= User.find(p.user_id).name %>
                  </br>
                  Category: <%= p.category %>
                  </br></br>
                  <p><%= p.content %></p>
                  </br></br>
                  <button heref="#" class="button">Like</button>  Likes: <%= p.likes %> <a style="color:black"><%= link_to "Comments", post_comments_path(p) %> </a>
                </td>
              </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        
      </div>
      
    </div>
  </td>
<td style="width: 30%; border: none;">
  <div class="businesses"></div>
</td>
<tr>
  <td style="height: 325px; border: none;" >
    <div class ="my-events"></div>
  </td>
  <td style="height: 325px; border: none;">
    <div class ="my-events"></div>
  </td>
</tr>
</tr>
</table>
