<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= newsfeed_index_path %>>Good <%=(03..15).include?(Time.now.hour) ? 'Morning' : 'Afternoon'%>, <%= current_user.name %> (BB: <%= current_user.likes %>)</a>
      
      <%= link_to edit_user_registration_path(current_user) do %>
        <img class="settings-logo" src="/settings.png">
      <% end %>
     
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user.role.eql?"admin" %>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <% end %>
        <% if current_user.role.eql?"lead" %>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <% end %>
      </ul>
       
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Inbox
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= mailbox_section 'inbox', @box %></li>
          <li><%= mailbox_section 'sent', @box %></li>
          <li><%= mailbox_section 'trash', @box %></li> 
        </ul>
      </li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container2">
  <img style="width: 200px; height: 200px; display: block; margin: 0 auto;"src="/bigbrotherlogo.png">
  <div class="post_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
    
    <fieldset>
        <legend>Edit Your Account</legend>
          <div class="container">
            <table>
              <tr>
                <td>
              <div class="field" style="color: black">
                <%= f.label :name %><br />
                <%= f.text_field :name %>
              </div>
            
              <div class="field" style="color: black">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>
            
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            
              <div class="field" style="color: black">
                <%= f.label :new_password %> <br /> <!-- was :password -->
                <%= f.password_field :password, autocomplete: "off" %>
                </br>
                <i>(leave blank if no change)</i>
              </div>
            
              <div class="field" style="color: black">
                <%= f.label :confirm %> <!-- was :password_confirmation -->
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
            <br />
              <div class="field" style="color: black">
                <%= f.label :current_password %> <br />
                <%= f.password_field :current_password, autocomplete: "off" %>
                <i>(*to confirm your changes)</i>
              </div>
            
              <div class="actions" style="text-align: right; padding-right: 16px;">
                <%= f.submit "Update" %>
              </div>
            <% end %>
            </td>
            <td style="width: 30px"></td>
            <td>
            <p style="color: black">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
            
            </td>
            </tr>
            </table>
          </div>
    </fieldset>
  </div>
</div>