<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= newsfeed_index_path %>>Good <%=(03..15).include?(Time.now.hour) ? 'Morning' : 'Afternoon'%>, <%= current_user.name %> (BB: <%= current_user.likes %>)</a>
      
      <%= link_to edit_user_registration_path(current_user) do %>
        <img class="settings-logo" src="/assets/settings.png">
      <% end %>
     
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user.role.eql?"admin" %>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <% end %>
        <% if current_user.role.eql?"lead" %>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <% end %>
      </ul>
       
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inbox", conversations_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div><h1>Conversation</h1></div>

  <div class="container2">
  <div class="panel panel-default">
    <div class="panel-heading"><h4 style="font-size: 20px"><b><%= @conversation.subject %></b></h4></div>
  
    <div class="panel-body">
      <div class="messages">
        <% @conversation.receipts_for(current_user).each do |receipt| %>
          <% message = receipt.message %>
  
          <%= message.sender.name %>: <%= message.body %>
          </br>
            sent on <%= message.created_at.strftime("%B %-d %Y, @ %H:%M:%S") %>
          </br>
          </br>
        <% end %>
      </div>
    </div>
  </div>
  
  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
    <%= submit_tag "Send Message", class: 'btn btn-primary' %>
  <% end %>
  <p style="color:white"><%= link_to "back", conversations_path %></p>
</div>