<div class="container_login">
  <img style="width: 200px; height: 200px; display: block; margin: 0 auto;"src="/bigbrotherlogo.png">
  <div class="post_form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <fieldset>
        <legend>Log in</legend>
          <div class="container2">
            <div class="field" style="color:black">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          
            <div class="field" style="color:black">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          
            <% if devise_mapping.rememberable? -%>
              <div class="field" style="color:black">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
          
            <div class="actions" style="color:black">
              <%= f.submit "Log in" %>
             <a style="color:white"> <%= link_to "Sign Up", new_user_registration_path %> </a>
            </div>
            
          </div>
      </fieldset>
    <% end %>
  </div>
</div>
