<div class="container2">
  <div class="post_form">
    <%= form_for(@post) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    
          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      
      <fieldset>
        <legend>Post</legend>
        <div class="container2">
          <div class="field">
            <%= f.label :category %><br>
            <% if @current_user.role.eql?"business" %>
              <%= f.select :category, Post::CATEGORY_TYPES, prompt: 'Select Category', :disabled => ["Lost & Found", "Jobs", "Misc", "Agency"] %>
            <% end %>
            <% if @current_user.role.eql?"agency" %>
              <%= f.select :category, Post::CATEGORY_TYPES, prompt: 'Select Category', :disabled => ["Lost & Found", "Jobs", "Misc", "Business"] %>
            <% end %>
            <% if @current_user.role.eql?"admin"%>
              <%= f.select :category, Post::CATEGORY_TYPES, prompt: 'Select Category', :disabled => ["Agency", "Business"] %>
            <% end %>
            <% if @current_user.role.eql?"lead"%>
              <%= f.select :category, Post::CATEGORY_TYPES, prompt: 'Select Category', :disabled => ["Agency", "Business"] %>
            <% end %>
            <% if @current_user.role.eql?"user"%>
              <%= f.select :category, Post::CATEGORY_TYPES, prompt: 'Select Category', :disabled => ["Agency", "Business"] %>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title %>
          </div>
          <div class="field">
            <%= f.label :content %><br>
            <%= f.text_area :content %>
          </div>
          <div class="actions">
            <%= f.submit %><i><%= link_to "back", newsfeed_index_path %></i>
          </div>
        </div>
        
      </fieldset>
      
    <% end %>
  </div>
</div>