<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<container>
  <div class="FunkyTable" >
  
  <table>
    <tbody>
      <tr>
        <td>Category</td>
        <td>Title</td>
        <td>Content</td>
        <td>Likes</td>
        <td colspan="3"></td>
      </tr>
  
    
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.category %></td>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.likes %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</container>
<br>

<p><%= link_to 'New Post', new_post_path %></p>
